<div>
  <glo-chart-area></glo-chart-area>
</div>

<mat-divider></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="25">
    <div>
      <button mat-button type="button" (click)="loginWithFacebook()" >Signin with Facebook</button>
    </div>
  </mat-card>
  <mat-card fxFlex="25">
    <button type="button" (click)="signOut()" >Sign Out</button>
  </mat-card>
  <mat-card fxFlex="25">

  </mat-card>
  <mat-card fxFlex="25">

  </mat-card>
</div>

<mat-divider></mat-divider>

<div>
  <div>Table</div>
  <div>Pie chart</div>
</div>
